<%= link_to "New Build", new_customer_device_path(customer_id: params[:customer_id], category: 'New Build')%>
<span>OR</span>
<%= link_to "Trade-In", new_customer_device_path(customer_id: params[:customer_id], category: 'Trade-In')%>

