<span><%= link_to "Robotic", new_robotic_path %></span>
<br />or<br />
<span><%= link_to "Printer", new_printer_path %></span>
<br />or<br />
<span><%= link_to "Controller", new_controller_pc_path %></span>